<app-navbar></app-navbar>

@if (gameReady) {
<app-hangman-drawing></app-hangman-drawing>

@if (gameService.hangman!.getGameStatus() === "IN PROGRESS") {
<app-word-display></app-word-display>
<app-keyboard></app-keyboard>

} @else if (gameService.hangman!.getGameStatus() === "LOST") {
<div class="overlay-game-over">
  <p id="game-status" class="overlay-text-lost">💀 ¡PERDISTE! 💀</p>
  <p id="p-solution">
    LA PALABRA ERA <b id="solution">{{gameService.hangman!.getAnswer()}}</b>
  </p>
  <p class="stats-text">
    ✅ Aciertos: {{gameService.hangman!.getRightLetters().length}} | ❌ Errores:
    {{gameService.hangman!.getWrongLetters().length}} | 🎯 Intentos:
    {{gameService.hangman!.getTriedLetters().length}}
  </p>
  <button id="play-again-btn" (click)="restartGame()">🔁 Volver a Jugar</button>
</div>

} @else {
<div class="overlay-game-won">
  <p id="game-status" class="overlay-text-won">🎉 ¡GANASTE! 🎉</p>
  <p class="stats-text">
    ✅ Aciertos: {{gameService.hangman!.getRightLetters().length}} | ❌ Errores:
    {{gameService.hangman!.getWrongLetters().length}} | 🎯 Intentos:
    {{gameService.hangman!.getTriedLetters().length}}
  </p>
  <button id="play-again-btn" (click)="restartGame()">🔁 Volver a Jugar</button>
</div>
} }
