<app-navbar></app-navbar>

@if (gameReady) {
<app-hangman-drawing></app-hangman-drawing>

<app-word-display></app-word-display>

@if (gameService.hangman!.getGameStatus() === "IN PROGRESS") {
<app-keyboard></app-keyboard>

} @else if (gameService.hangman!.getGameStatus() === "LOST") {
<div class="overlay-game-over">
  <p id="game-status" class="overlay-text-lost">💀 ¡PERDISTE! 💀</p>
  <p id="p-solution">
    LA PALABRA ERA <b id="solution">{{gameService.hangman!.getAnswer()}}</b>
  </p>
</div>
} @else {
<div class="overlay-game-won">
  <p id="game-status" class="overlay-text-won">🎉 ¡GANASTE! 🎉</p>
</div>
} }
