<svg width="200" height="250" class="hangman-svg">
  <!-- Base del soporte -->
  <line x1="10" y1="240" x2="150" y2="240" stroke="black" stroke-width="4" />

  <!-- Poste vertical -->
  <line x1="40" y1="240" x2="40" y2="20" stroke="black" stroke-width="4" />

  <!-- Poste horizontal -->
  <line x1="40" y1="20" x2="120" y2="20" stroke="black" stroke-width="4" />

  <!-- Cuerda -->
  <line x1="120" y1="20" x2="120" y2="50" stroke="black" stroke-width="4" />

  @if (errorsCount > 0) {
  <!-- Cabeza -->
  <circle
    cx="120"
    cy="70"
    r="20"
    stroke="black"
    stroke-width="3"
    fill="none"
    id="hangman_head"
  />

  } @if (errorsCount > 1) {
  <!-- Cuerpo -->
  <line
    x1="120"
    y1="90"
    x2="120"
    y2="150"
    stroke="black"
    stroke-width="3"
    id="hangman_chest"
  />

  } @if (errorsCount > 2) {
  <!-- Brazo izquierdo -->
  <line
    x1="120"
    y1="100"
    x2="90"
    y2="130"
    stroke="black"
    stroke-width="3"
    id="hangman_leftarm"
  />

  } @if (errorsCount > 3) {
  <!-- Brazo derecho -->
  <line
    x1="120"
    y1="100"
    x2="150"
    y2="130"
    stroke="black"
    stroke-width="3"
    id="hangman_rightarm"
  />

  } @if (errorsCount > 4) {
  <!-- Pierna izquierda -->
  <line
    x1="120"
    y1="150"
    x2="90"
    y2="190"
    stroke="black"
    stroke-width="3"
    id="hangman_leftleg"
  />

  } @if (errorsCount > 5) {
  <!-- Pierna derecha -->
  <line
    x1="120"
    y1="150"
    x2="150"
    y2="190"
    stroke="black"
    stroke-width="3"
    id="hangman_rightleg"
  />

  } @if (errorsCount > 6) {
  <line
    x1="110"
    y1="60"
    x2="130"
    y2="80"
    stroke="red"
    stroke-width="3"
    id="hangman_killmark"
  />
  }
</svg>
