.hangman-svg {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.hangman-svg line,
.hangman-svg circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 0.6s ease-out forwards;
}

.hangman-svg line {
  animation-duration: 3s;
}
.hangman-svg circle {
  animation-duration: 1s;
}

#hangman_killmark {
  animation: draw 0.4s ease-out forwards, shake 0.4s ease-in-out 2;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
}
